html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
  min-height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--special_dark-grey);
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media (min-width: 768px) {
  .body {
    font-size: 16px;
    line-height: 24px;
  }
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
:root {
  --basic_green: #68b738;
  --basic_green-2: #5eaa2f;
  --basic_grey: #f2f2f2;
  --basic-special_grey-2: #ebebeb;
  --special_grey: #cdcdcd;
  --special_grey-2: #666666;
  --special_dark-grey: #444444;
  --special_dark-grey-2: #222222;
  --status_error: #ff8282;
  --shadow_normal: 0 1px 3px rgba(0, 0, 0, 0.16);
  --shadow_hover: 0 2px 4px rgba(0, 0, 0, 0.19);
  --shadow_pressed: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.button {
  display: block;
  padding: 14px 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}
.button--primary {
  color: #ffffff;
  background-color: var(--basic_green);
}
.button--primary:hover {
  background-color: var(--basic_green-2);
}
.button--primary:active {
  color: rgba(250, 250, 250, 0.3);
}
.button--secondary {
  color: var(--special-dark-grey);
  background-color: var(--basic_grey);
}
.button--secondary:hover {
  background-color: var(--basic-special_grey-2);
}
.button--secondary:active {
  color: var(--special_grey-2);
}

@media (min-width: 768px) {
  .button {
    font-size: 20px;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
}

.header {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.header__toggle-container {
  width: 24px;
  height: 24px;
  position: relative;
}
.header__toggle-container .header__toggle {
  width: 100%;
  transition: 0.5s ease-in-out;
  transform: rotate(0deg);
}
.header__toggle-container .header__toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000000;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.header__toggle-container .header__toggle span:nth-child(2), .header__toggle-container .header__toggle span:nth-child(3) {
  top: 8px;
}
.header__toggle-container .header__toggle span:nth-child(4) {
  top: 16px;
}
.header__toggle-container.open .header__toggle span:nth-child(1), .header__toggle-container.open .header__toggle span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  display: none;
}
.header__toggle-container.open .header__toggle span:nth-child(2) {
  transform: rotate(45deg);
}
.header__toggle-container.open .header__toggle span:nth-child(3) {
  transform: rotate(-45deg);
}

.header__toggle-button {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 24px;
  height: 24px;
  padding: 10px;
  box-sizing: content-box;
  background-color: transparent;
  border: none;
}

@media (min-width: 768px) {
  .header {
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    padding: 24px 30px;
    border: none;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .header {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .header__container {
    border: none;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .header__toggle-container {
    display: none;
  }
}
@media (min-width: 1280px) {
  .header {
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .header__container {
    box-sizing: content-box;
  }

  .header__logo-pic {
    width: 60px;
    height: 60px;
  }
}
.menu-list {
  display: none;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style-type: none;
  animation: growUp 300ms ease-in-out;
  transform-origin: top center;
}
.menu-list.shown {
  display: block;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growUp {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
.menu-list__item {
  padding: 22px 0 24px 0;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
}

.menu-list__link {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

@media (min-width: 768px) {
  .menu-list {
    display: flex;
    position: static;
    gap: 20px;
    animation: none;
  }

  .menu-list__item--current {
    border-bottom: 1px solid var(--basic_green);
  }
}
@media (min-width: 1280px) {
  .menu-list {
    background-color: transparent;
    gap: 20px;
  }

  .menu-list__link {
    font-size: 20px;
    line-height: 30px;
  }
  .menu-list__link--index {
    color: #ffffff;
  }
}
.franchising {
  width: 100%;
}

.franchising__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.franchising__container--index {
  background-color: #ffffff;
}
.franchising__container--inner {
  background-color: var(--basic_grey);
}

.franchising__heading {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.franchising__address {
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: var(--special_dark-grey);
}

.franchising__map {
  min-height: 400px;
}

#map {
  min-height: 400px;
}

iframe {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .franchising {
    position: relative;
  }

  .franchising__container {
    padding: 20px 70px;
    background-color: var(--basic_grey);
  }

  .franchising__heading {
    margin-right: 30px;
    font-size: 20px;
    line-height: 26px;
  }

  .franchising__address {
    font-size: 16px;
    line-height: 20px;
  }

  .franchising__map {
    z-index: 1;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .franchising__container {
    padding: 20px 40px;
    position: absolute;
    top: 50%;
    width: 400px;
    transform: translate(40px, -50%);
    z-index: 2;
    background-color: #ffffff;
  }
}
.footer {
  width: 100%;
  background-color: var(--basic_grey);
}

.footer__container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .footer__container {
    padding: 0 30px;
  }
}

.footer__logo {
  width: -moz-fit-content;
  width: fit-content;
  padding: 39px 0 32px 0;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: center;
    padding: 55px 30px;
  }

  .footer__logo {
    margin: 0;
    padding: 0;
  }
}
.socials {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  list-style-type: none;
}

.socials__item {
  margin: 0 18px;
}
.socials__item:hover .socials__link svg path {
  fill: var(--basic_green);
}
.socials__item:hover .socials__link:last-child svg path {
  fill: white;
  stroke: var(--basic_green);
}

@media (min-width: 768px) {
  .socials {
    padding: 0;
    border: none;
  }

  .socials__item {
    margin: 0 13px;
  }
}
.credits {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
}

@media (min-width: 768px) {
  .credits {
    padding: 0;
  }

  .credits__organization {
    font-size: 16px;
    line-height: 18px;
  }
}
.promo {
  width: 100%;
  margin-bottom: 20px;
}

.promo__section-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  background-color: #62a53a;
  background-image: url("../img/promo-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
@media (min-width: 768px) {
  .promo__section-container {
    padding: 0 30px;
  }
}

.promo__heading {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.promo__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__img {
  width: 70%;
}

.promo__button {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .promo__section-container {
    align-items: start;
    padding-top: 20px;
    background-image: none;
    background-color: #ffffff;
  }

  .promo__heading {
    margin-bottom: 42px;
    padding: 0 90px;
    color: #000000;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }

  .promo__slogan {
    z-index: 2;
    width: 250px;
    margin-bottom: 52px;
    padding-left: 90px;
    color: #000000;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  .promo__img {
    order: 10;
    margin-top: -83px;
    margin-left: 200px;
  }

  .promo__img-container {
    order: 4;
  }

  .promo__button {
    position: relative;
    z-index: 2;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 90px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .promo {
    width: 100%;
    min-height: 696px;
    background-image: url("../img/index-background-desktop.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 2dppx) {
  .promo {
    background-image: url("../img/index-background-desktop@2x.png");
  }
}
@media (min-width: 1280px) {
  .promo__section-container {
    position: relative;
    padding-top: 223px;
    padding-right: calc(50% + 115px);
    background-color: transparent;
  }
}
@media (min-width: 1280px) {
  .promo__img-container {
    order: initial;
    position: absolute;
    right: 0;
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .promo__img {
    display: none;
    position: absolute;
    width: 100%;
    order: initial;
    right: 0;
  }
}
.goals {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .goals {
    padding: 0 30px;
  }
}

@media (min-width: 768px) {
  .goals {
    margin-bottom: 45px;
  }
}
@media (min-width: 1280px) {
  .goals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
.goal {
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--basic_grey);
}

.goal__heading {
  margin: 0;
  margin-bottom: 23px;
  padding: 10px 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  background-position: left;
  background-repeat: no-repeat;
}
.goal__heading--slim {
  padding-left: 70px;
  background-image: url("../img/cat-slim.svg");
  background-size: 50px;
}
.goal__heading--pro {
  padding-left: 80px;
  background-image: url("../img/cat-pro.svg");
  background-size: 67px;
}

.goal__text {
  margin: 0;
  margin-bottom: 23px;
}

.goal__link {
  display: block;
  padding-top: 15px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border-top: 1px solid #d9d9d9;
}
.goal__link:active {
  opacity: 30%;
}

@media (min-width: 768px) {
  .goal {
    margin-bottom: 30px;
    padding: 77px 316px 53px 53px;
    background-position: 90%;
    background-repeat: no-repeat;
  }
  .goal--slim {
    background-image: url("../img/cat-slim.svg");
    background-size: 200px;
  }
  .goal--pro {
    background-image: url("../img/cat-pro.svg");
    background-size: 267px;
  }

  .goal__heading {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    background-image: none;
  }

  .goal__text {
    width: 340px;
    margin-bottom: 33px;
  }

  .goal__link {
    border: none;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1280px) {
  .goal {
    padding: 60px 50px 30px;
  }
  .goal--slim {
    background-image: url("../img/cat-slim.svg");
    background-size: 100px;
    background-position: 52px 41px;
  }
  .goal--pro {
    background-image: url("../img/cat-pro.svg");
    background-size: 134px;
    background-position: 41px 47px;
  }

  .goal__heading {
    margin-left: 162px;
    margin-bottom: 80px;
  }

  .goal__text {
    font-size: 16px;
  }
}
.guide {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .guide {
    padding: 0 30px;
  }
}

.guide__heading {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
}

@media (min-width: 768px) {
  .guide__heading {
    font-size: 60px;
    line-height: 60px;
  }
}
.guide-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.guide-list__item {
  min-height: 60px;
  padding-left: 80px;
  background-position: left;
  background-size: 60px;
  background-repeat: no-repeat;
}
.guide-list__item--leaf {
  background-image: url("../img/guide-leaf.svg");
}
.guide-list__item--water {
  background-image: url("../img/guide-water.svg");
}
.guide-list__item--meal {
  background-image: url("../img/guide-meal.svg");
}
.guide-list__item--time {
  background-image: url("../img/guide-time.svg");
}

@media (min-width: 768px) {
  .guide-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 130px;
    counter-reset: li;
  }

  .guide-list__item {
    min-width: 230px;
    padding: 0;
    padding-top: 110px;
    padding-bottom: 47px;
    background-position: top left;
    background-size: 80px;
  }
  .guide-list__item--leaf {
    background-image: url("../img/leaf-tablet.svg");
  }
  .guide-list__item--water {
    background-image: url("../img/water-tablet.svg");
  }
  .guide-list__item--meal {
    background-image: url("../img/meal-tablet.svg");
  }
  .guide-list__item--time {
    background-image: url("../img/time-tablet.svg");
  }
  .guide-list__item::after {
    position: absolute;
    transform: translate(100%, -82%);
    z-index: -1;
    content: counter(li);
    counter-increment: li;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: var(--basic_grey);
  }
}
@media (min-width: 1280px) {
  .guide-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }

  .guide-list__item {
    max-width: 230px;
    margin-bottom: 0;
  }
  .guide-list__item p {
    font-size: 16px;
  }
}
.results {
  width: 100%;
  background-color: #eaeaea;
}

.results__section-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .results__section-container {
    padding: 0 30px;
  }
}

.results__heading {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
}

.results__stats {
  padding: 15px 30px;
  border: 1px solid var(--special_grey);
  border-radius: 2px;
}

.results__figure {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.results__description {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: var(--special_dark-grey);
}

.results__stats-wrap {
  display: flex;
  justify-content: space-around;
}

.results__cost {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: 768px) {
  .results__heading {
    font-size: 60px;
    line-height: 60px;
  }

  .results__stats {
    padding: 15px 60px;
  }

  .results__stats-wrap {
    gap: 20px;
  }

  .results__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .results__figure {
    font-size: 30px;
    line-height: 37px;
  }

  .results__description {
    font-size: 14px;
    line-height: 14px;
  }

  .results__cost {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .results {
    padding-bottom: 30px;
  }

  .results__container {
    width: 100%;
  }

  .results__section-container {
    display: flex;
  }
  .results__section-container p {
    font-size: 20px;
    line-height: 30px;
  }

  .results__wrap {
    display: block;
  }
}
.gallery {
  position: relative;
  min-height: 280px;
  width: 320px;
  padding: 45px 0;
  margin: 0 auto;
}

.gallery__after {
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  min-height: 280px;
  background-image: url(../img/cat-skinny.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__before {
  position: relative;
  z-index: 2;
  min-height: 280px;
  width: 60%;
  background-image: url(../img/cat-fat.png);
  background-size: cover;
  background-color: #EAEAEA;
}

.gallery__slideshow {
  margin-bottom: 15px;
}

.gallery__range-slider {
  display: flex;
  align-items: center;
}

.gallery__range-bar {
  width: 100%;
}

.gallery__label {
  margin: 0 10px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 6px;
  background: #DCDCDC;
}
input[type=range]::-moz-range-track {
  height: 6px;
  border-radius: 6px;
  background: #DCDCDC;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: var(--basic_green);
  border-radius: 50%;
  transform: translateY(-4px);
}
input[type=range]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: var(--basic_green);
  border-radius: 50%;
  transform: translateY(-4px);
}

@media (min-width: 768px) {
  .gallery {
    padding: 60px;
  }

  .gallery__label {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1280px) {
  .gallery {
    width: 600px;
  }

  .gallery__before {
    min-height: 344px;
    left: -61px;
  }

  .gallery__after {
    min-height: 344px;
  }
}
.section-form {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  font-family: "Oswald", sans-serif;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .section-form {
    padding: 0 30px;
  }
}

.section-form__heading {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: none;
}

.section-form__description {
  font-size: 14px;
  line-height: 18px;
}

.section-form__form {
  font-size: 16px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .section-form {
    padding: 0 70px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1280px) {
  .section-form {
    margin-top: 70px;
  }

  .section-form__heading {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
  }

  .section-form__description {
    font-size: 20px;
    line-height: 30px;
  }
}
.form__fieldset {
  padding: 0;
  border: none;
}
.form__fieldset--info {
  color: var(--special_dark-grey);
  border-bottom: 1px solid #d9d9d9;
}
.form__fieldset--goal {
  color: var(--special_dark-grey-2);
  border-bottom: 1px solid #d9d9d9;
}

.form__fieldset-wrapper {
  margin-bottom: 20px;
}

.form__fieldset-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.form__list-item {
  margin-bottom: 13px;
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
}

.form__label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 13px;
  color: var(--special_dark-grey);
  white-space: nowrap;
}
.form__label:last-child {
  margin-bottom: 0;
}

.form__field {
  width: 100%;
  height: 46px;
  padding: 0 10px;
  color: var(--special_dark-grey);
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: 1px solid #E7E7E7;
  border-radius: 0;
}
.form__field:focus {
  outline: none;
  border: 1px solid var(--special_dark-grey);
}
.form__field--error {
  border: 2px solid var(--status_error);
}

textarea.form__field {
  padding: 10px;
}

.form__control {
  display: flex;
}

.form__control-input {
  position: relative;
}
.form__control-input:checked::before {
  content: "";
  display: inline-block;
  position: absolute;
}
.form__control-input:checked[type=radio]:checked::before {
  transform: translate(35%, 45%);
  width: 18px;
  height: 18px;
  background-color: var(--basic_green);
  border-radius: 50%;
}
.form__control-input:checked[type=checkbox]:checked::before {
  transform: translate(50%, -50%);
  width: 26px;
  height: 26px;
  background-image: url("../img/tick.svg");
}

.form__control-mark {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--special_grey);
}
.form__control-mark--radio {
  margin-right: 20px;
  border-radius: 50%;
}

.form__submit {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.form__tip {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  color: #000000;
}

@media (min-width: 768px) {
  .form__fieldset--goal {
    padding: 0 30px;
    border: 1px solid #d9d9d9;
    border-top: none;
  }

  .form__list-item:last-child {
    margin-bottom: 0;
  }
  .form__list--extra {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form__submit-wrap {
    display: flex;
    gap: 40px;
  }

  .form__submit {
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .form__fieldset-wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .form__fieldset-wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1280px) {
  .form__fieldset-wrapper .form__fieldset {
    width: 40%;
  }
}
@media (min-width: 1280px) {
  .form__fieldset {
    width: 100%;
    margin-bottom: 60px;
    gap: 20px;
  }
  .form__fieldset--info {
    border: none;
  }
  .form__fieldset--contacts {
    flex-direction: row;
    width: 100%;
  }
  .form__fieldset--contacts .form__fieldset-container {
    flex-direction: row;
    gap: 20px;
  }
  .form__fieldset--contacts .form__label {
    width: 100%;
  }
  .form__fieldset--goal {
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
  }
  .form__fieldset--options {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .form__list--extra {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .form__label {
    font-size: 20px;
    line-height: normal;
  }
}
@media (min-width: 1280px) {
  .form__legend {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1280px) {
  .form__submit-wrap {
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .form__submit-wrap {
    padding: 0 30px;
  }
}
@media (min-width: 1280px) {
  textarea.form__field {
    height: 100px;
  }
}
.catalog {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .catalog {
    padding: 0 30px;
  }
}

.catalog__heading {
  padding-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
  border-bottom: 1px solid var(--basic-special_grey-2);
}

.catalog__subtitle {
  padding-bottom: 30px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  border-bottom: 1px solid var(--special_grey);
}

@media (min-width: 768px) {
  .catalog__heading {
    padding-bottom: 100px;
    border-bottom: none;
  }
}
@media (min-width: 1280px) {
  .catalog {
    padding: 70px;
  }

  .catalog__heading {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
  }
}
.products-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products-list__item {
  min-height: 200px;
}

@media (min-width: 768px) {
  .products-list {
    display: grid;
    gap: 140px 60px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.product-card {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--basic-special_grey-2);
}

.product-card__link {
  margin-bottom: 10px;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-card__img-wrapper {
  grid-row-start: 1;
  grid-row-end: span 2;
}

.product-card__name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--special_dark-grey-2);
}

.product-card__info-string {
  display: flex;
  justify-content: space-between;
  padding-bottom: 9px;
  margin-bottom: 3px;
  color: var(--special_dark-grey);
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border-bottom: 1px solid var(--special_grey);
}

@media (min-width: 768px) {
  .product-card {
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
    align-items: stretch;
    background-color: var(--basic_grey);
    height: 430px;
    box-sizing: border-box;
  }

  .product-card__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-card__img {
    translate: 0 -50%;
  }

  .product-card__img-wrapper {
    height: 100px;
  }

  .product-card__name {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .product-card__info {
    width: 100%;
  }

  .product-card__info-string {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
}
.card-show-more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 78px;
  border-bottom: 1px solid var(--basic-special_grey-2);
}
.card-show-more::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 30px);
  width: 30px;
  height: 30px;
  background-image: url("../img/plus.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-show-more__heading {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: var(--special_dark-grey-2);
}

.card-show-more__description {
  font-size: 12px;
  line-height: 16px;
}

.card-show-more__button {
  width: 100%;
}

@media (min-width: 768px) {
  .card-show-more {
    border: 1px solid var(--basic-special_grey-2);
    padding: 40px;
    padding-top: 160px;
    margin-bottom: 20px;
  }
  .card-show-more::before {
    width: 60px;
    height: 60px;
    transform: translate(-50%, 50px);
  }

  .card-show-more__heading {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  .card-show-more__description {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  .card-show-more__button {
    margin-top: 20%;
  }
}
@media (min-width: 768px) {
  .card-show-more {
    padding-bottom: 20px;
  }

  .card-show-more__button {
    margin-top: 30%;
  }
}
.extra-products-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.extra-item {
  padding-bottom: 30px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--special_grey);
}

.extra-item__heading-link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--special_dark-grey-2);
}

.extra-item__info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  color: var(--special_dark-grey);
}

@media (min-width: 768px) {
  .extra-item__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .extra-item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    padding-bottom: 20px;
  }

  .extra-item__wrapper {
    align-items: center;
  }
}
.offer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 290px;
  padding: 60px;
  box-sizing: border-box;
  background-color: var(--basic_green);
  background-image: url("../img/offer-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.offer::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 60px);
  width: 80px;
  height: 80px;
  background-image: url("../img/icon_gift.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.offer__text {
  color: #FFF;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@media (min-width: 768px) {
  .offer {
    min-height: 200px;
    flex-direction: row;
    background-image: url(../img/offer-background-tablet.jpg);
  }
  .offer::after {
    left: 0;
    z-index: 3;
    transform: translate(80px, 60px);
  }
  .offer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--basic_green);
    opacity: 0.85;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .offer {
    background-image: url(../img/offer-background-tablet@2x.jpg);
  }
}
@media (min-width: 768px) {
  .offer__text {
    text-align: left;
    width: 160px;
    z-index: 3;
  }
}
@media (min-width: 1280px) {
  .offer {
    background-image: url(../img/offer-background-desktop.png);
  }
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 2dppx) {
  .offer {
    background-image: url(../img/offer-background-desktop@2x.png);
  }
}
@media (min-width: 1280px) {
  .offer__text {
    text-align: center;
    margin-top: 100%;
  }
}
@media (min-width: 1280px) {
  .extra-products {
    display: flex;
  }

  .extra-products__list {
    flex-grow: 1;
    margin-right: 80px;
  }

  .extra-products__offer {
    width: 245px;
  }
}
/*# sourceMappingURL=style.css.map */