.button {
  display: block;
  padding: 14px 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;

  &--primary {
    color: #ffffff;
    background-color: var(--basic_green);

    &:hover {
      background-color: var(--basic_green-2);
    }

    &:active {
      color: rgba(250, 250, 250, .3);
    }
  }

  &--secondary {
    color: var(--special-dark-grey);
    background-color: var(--basic_grey);

    &:hover {
      background-color: var(--basic-special_grey-2);
    }

    &:active {
      color: var(--special_grey-2);
    }
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 20px;
  }
}
