.results {
  width: 100%;
  background-color: #eaeaea;
}

.results__section-container {
  @include container;
}

.results__heading {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
}

.results__stats {
  padding: 15px 30px;
  border: 1px solid var(--special_grey);
  border-radius: 2px;
}

.results__figure {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.results__description {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: var(--special_dark-grey);
}

.results__stats-wrap {
  display: flex;
  justify-content: space-around;
}

.results__cost {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .results__heading {
    font-size: 60px;
    line-height: 60px;
  }

  .results__stats {
    padding: 15px 60px;
  }

  .results__stats-wrap {
    gap: 20px;
  }

  .results__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .results__figure {
    font-size: 30px;
    line-height: 37px;
  }

  .results__description {
    font-size: 14px;
    line-height: 14px;
  }

  .results__cost {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .results {
    padding-bottom: 30px;
  }

  .results__container {
    width: 100%;
  }

  .results__section-container {
    display: flex;

    & p {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .results__wrap {
    display: block;
  }
}
