.catalog {
  margin-bottom: 35px;
  padding: 0 20px;
}

.catalog__heading {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  border-bottom: 1px solid var(--basic-special_grey-2);
}

.catalog__subtitle {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  border-bottom: 1px solid var(--special_grey);
}
