.catalog {
  @include container;

  margin-bottom: 35px;
}

.catalog__heading {
  padding-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
  border-bottom: 1px solid var(--basic-special_grey-2);
}

.catalog__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  border-bottom: 1px solid var(--special_grey);
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 70px;
  }
}
