.extra-item {
  border-bottom: 1px solid var(--special_grey);
}

.extra-item__heading-link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--special_dark-grey-2);
}

.extra-item__info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  color: var(--special_dark-grey);
}

@media (min-width: $tablet-width) {
  .extra-item__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .extra-item {
    display: grid;
    grid-template-columns: 25% 25% 100px 25%;
  }

}
