.footer {
  width: 100%;
  background-color: var(--basic_grey);
}

.footer__container {
  @include container;
}

.footer__logo {
  width: fit-content;
  padding: 39px 0 32px 0;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .footer__container {
    display: flex;
    padding: 55px 30px;
  }

  .footer__logo {
    margin: 0;
    padding: 0;
  }
}
