.gallery__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .gallery__label {
    font-size: 20px;
    line-height: 30px;
  }
}
