html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
  min-height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--special_dark-grey);
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
