.goals {
  @include container-padding-mobile;
}

@media (min-width: $tablet-width) {
  .goals {
    @include container-padding-tablet;
  }
}

@media (min-width: $desktop-width) {
  .goals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
