.guide-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.guide-list__item {
  min-height: 60px;
  padding-left: 80px;
  background-position: left;
  background-size: 60px;
  background-repeat: no-repeat;

  &--leaf {
    background-image: url("../img/guide-leaf.svg");
  }

  &--water {
    background-image: url("../img/guide-water.svg");
  }

  &--meal {
    background-image: url("../img/guide-meal.svg");
  }

  &--time {
    background-image: url("../../img/guide-time.svg");
  }
}

@media (min-width: $tablet-width) {
  .guide-list {
    display: flex;
    flex-wrap: wrap;
  }

  .guide-list__item {
    max-width: 250px;
    margin-bottom: 77px;
    padding: 0;
    padding-top: 110px;
    padding-bottom: 47px;
    background-position: top left, right;
    background-size: 80px, contain;

    &--leaf {
      background-image: url("../img/leaf-tablet.svg"), url("../img/1.png");
    }

    &--water {
      background-image: url("../img/water-tablet.svg"), url("../img/2.png");
    }

    &--meal {
      background-image: url("../img/meal-tablet.svg"), url("../img/3.png");
    }

    &--time {
      background-image: url("../img/time-tablet.svg"), url("../img/4.png");
    }

    &:nth-of-type(odd) {
      margin-right: 137px;
    }
  }
}
