.menu-list {
  display: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style-type: none;
}

.menu-list__item {
  padding: 22px 0 24px 0;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
}

.menu-list__link {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .menu-list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .menu-list {
    background-color: transparent;
    gap: 20px;
  }

  .menu-list__link {
    font-size: 20px;
    line-height: 30px;

    &:hover {
      color: #ffffff;
    }
  }
}
