.offer {
  min-height: 290px;
  background-color: var(--basic_green);
  background-image: url("../img/offer-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.offer__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .offer {
    min-height: 200px;
  }
}
