.offer {
  margin-bottom: 35px;
  background-color: var(--basic_green);
  background-image: url("../img/offer-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.offer__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $desktop-width) {
  .offer {
    display: inline-block;
    width: 25%;
  }
}
