.results {
  width: 100%;
  background-color: #eaeaea;
}

.results__section-container {
  @include container;
}

.results__heading {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
}

.results__figure {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.results__description {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: var(--special_dark-grey);
}

.results__stats-wrap {
  display: flex;
  justify-content: space-around;
}

.results__cost {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.results__gallery {
  border: 1px solid #000000;
}

@media (min-width: $tablet-width) {
  .results__heading {
    font-size: 60px;
    line-height: 60px;
  }

  .results__wrap {
    display: flex;
    justify-content: space-between;
  }

  .results__figure {
    font-size: 30px;
    line-height: 37px;
  }

  .results__description {
    font-size: 14px;
    line-height: 14px;
  }

  .results__cost {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .results__section-container {
    display: flex;
    gap: 100px;

    & p {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .results__wrap {
    display: block;
  }
}
