@import "mixin.scss";
@import "global.scss";
@import "fonts.scss";
@import "custom-properties.scss";
@import "button.scss";
@import "main-container.scss";
@import "header.scss";
@import "menu-list.scss";
@import "franchising.scss";
@import "footer.scss";
@import "socials.scss";
@import "credits.scss";
@import "promo.scss";
@import "goals.scss";
@import "goal.scss";
@import "guide.scss";
@import "guide-list.scss";
@import "results.scss";
@import "gallery.scss";
@import "section-form.scss";
@import "form.scss";
@import "catalog.scss";
@import "product-card.scss";
@import "card-show-more.scss";
@import "extra-item.scss";
@import "offer.scss";
